<!DOCTYPE html>
<html>
  <head>
    <title>[% title %]</title>
    <meta name="robots" content="index, follow">
    <meta charset="utf-8"/>
    <meta name="keywords" content="Free Speech, Raku, Forum, Technology, Text board, Channel, Chan, Nerds, Forum, Tech Forum"/>
    <meta name="author" content="https://github.com/mollusc-labs/App-Librehouse"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    [% set description = meta.description %]
    [% unless description %]
        <meta name="description" content="Free Software forum for passionate individuals."/>
    [% end %]
    [% for m in meta %]
        <meta name="[% m.key %]" content="[% m.value %]"/>
    [% end %]
    [% for script in scripts %]
        <script src="/static/js/[% script %]"></script>
    [% end %]
    [% for style in styles %]
        <link href="/static/css/[% style %]" rel="stylesheet"/>
    [% end %]
  </head>
  <body>
    <header>This is a header</header>
    [% if toast %]
      <div>[% toast %]</div>
    [% end %]    
