{{> header}}
<main>
  <h1>Log In</h1>
  <form action="/login" method="POST">
    <div>
      <label>Username</label>
      <input type="text" name="name" required/>
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" required/>
    </div>
    <div>
      <input type="hidden" name="csrf" value="{{csrf}}"/>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
    <div class="errors">
    {{#errors}}
        <div class="error-{{key}}">{{value}}</div>
    {{/errors}}
    </div>
  </form>
</main>
{{> footer}}
